@media only screen and (max-width: 800px){
	.header{
		height: 100px;
		display: block;
		box-sizing: border-box;
	}
	.container_logo{
		display: flex;
	}
	.logo{
		height: 80px;
		margin: auto;
	}
	.nav{
		height: 20px;
	}
	.nav_button-container{
		display: flex;
		height: 20px;
		justify-content: space-between;
	}
	.nav_button-container h2{
		flex: 1;
		width: 80%;
		text-align: center;
	}
	.nav_button{
		flex: 1;
		width: 20%;
	}
	.nav_ul{
		flex-direction: column;
		align-items: center;
		font-size: 0.5em;
		background-color: var(--color-principal);
		position: fixed;
		left: 0;
		top: 100px;
		width: 100%;
		padding: 20px 0;
		height: calc(100% - 100px);
		overflow-y: auto;
		left: 100%;
		z-index: 1;
	}
	.nav_li, .nav_li a{
		color: var(--color-bl);
	}
	.nav_visible{
		left: 0;
	}
	.portada{
		height: 200px;
		padding: 15px 25px;
	}	
	.portada h1{
		height: 40px;
		font-size: 4.5em;
	}
	.container_descripcion{
		flex-direction: column;
	}
	.descripcion_estilo{
		flex: 1;
		margin: 15px 20px;
	}
	.descripcion_estilo h2{
		padding: 12px 0px;
		text-align: center;
		color: var(--color-bl);
	}
	.descripcion_estilo p{
		text-align: justify;
		padding: 10px 20px
	}
	footer{
		background: var(--color-secundaria);
		height: 200px;
		box-sizing: border-box;
		display: flex;
	}
	.title_redes{
		font-size: 1.5em;
		padding-top: 25px;
		text-align: center;
		color: var(--color-principal);
	}
	.ft_social{
		display: inline-block;
		width: 33%;
		flex: 1;
	}
	.redes_sociales_ul{
		display: flex;
		flex: 1;
	}
	.redes_sociales{
		display: inline-block;
		padding: 12px;
		margin: auto;
	}
	.redes_sociales a{
		margin: auto;
		color: var(--color-bl);
		text-decoration: none;
		font-size: 50px;
	}
	.redes_sociales:hover > a{
		color: var(--color-principal);
	}
	.ft_logo{
		height: 100px;
	}
	.ft_contact button{
		padding: 13px;
		border-radius: 25px;	
		font-size: 10px;
	}
	.redes_sociales a{
		font-size: 25px;
	}
	.title_redes{
		font-size: 1em;
		padding-top: 50px;
	}
}
