
<section class="d-flex align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="main">  	
            <input type="checkbox" id="chk" aria-hidden="true">
    
                <div class="signup">
                    <form [formGroup]="registroFormulario" (submit)="registrar()">
                        <label for="chk" aria-hidden="true">Registro</label>
                        <input type="text" formControlName="nombre" placeholder="Usuario" required="">
                        <input type="password" formControlName="contraseña" placeholder="Contraseña" required="">
                        <button type="submit" class="wide">Registrar</button>
                    </form>
                </div>
    
                <div class="login">
                    <form [formGroup] = "sesionFormulario" (submit)="ingresar()">
                        <label for="chk" aria-hidden="true">Login</label>
                        <input type="text" formControlName="usuario" placeholder="Usuario" required="">
                        <input type="password" formControlName="contraseña" placeholder="Contraseña" required="">
                        <button type="submit" class="wide"> Login </button>
                    </form>
                </div>
        </div>
    </div>
</section>
