<section class="d-flex align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
        <nav class="dropdownmenu">
            <ul>
              <li><a routerLink="/login"><i class="fa-solid fa-screwdriver-wrench"></i> Articulos</a></li>
              <li><a routerLink="/login"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
                <li><a routerLink="/login"><i class="fa-solid fa-truck"></i> Pedidos</a></li>
              <li><a><i class="fa-solid fa-user"></i></a>
                <ul id="submenu">
                  <li><a routerLink="/login"><i class="fa-solid fa-arrow-right-from-bracket"></i>Salir</a></li>
                </ul>
              </li>
            </ul>
          </nav>
    </div>
</section>