<section>
    <div>
        <app-menu></app-menu>
    </div>
    <div class="flex-column d-flex align-items-center" *ngFor="let producto of carrito2 ; let i = index">
        <mat-card id= "body_pro" class="example-card">
            <mat-card-header>
              <mat-card-title>{{carrito2[i].nombre}}</mat-card-title>
              <mat-card-subtitle>{{carrito2[i].producto}}</mat-card-subtitle>
            </mat-card-header>
            <div class="container_img">
              <img mat-card-image src="{{carrito2[i].imagen}}" alt="Photo of a Shiba Inu">
              <mat-card-content >
                <button (click)="eliminar(claves[i])"><i class="fa-solid fa-cart-arrow-down"></i> Eliminar</button>
                <br>
                <button><i class="fa-solid fa-cart-arrow-down"></i> Pedir</button>
              </mat-card-content>
            </div> 
            
          </mat-card>
    </div> 

</section>
